@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222222f7;
}

body{
    max-width: 900px;
    margin: auto;
    color: #F4F4F6;
    background-color: #222222;
}

a, a::before, a::after, a:link{
    text-decoration: none;
}

p,a{
    font-family: "Open Sans", sans-serif;
}

h1,h2,h3{
    font-family: "Nunito Sans", sans-serif;
}

header{
    width: 80%;
    margin: auto;
    padding: 20px 0 0 0;
}

nav{
    padding: 10px 0;
}

nav{
    background-color: #323232d6;
}

nav ul, nav ul li, nav ul li a{
    background-color: #32323200;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#AboutMe, #Projects, #Experiences, #Skills{
    width: 80%;
    margin: 4em 10% 0 10%;
    
}

.avatarBox{
    display: flex;
    justify-content: center;
}

.logoSpace{
    width: 35%;
    height: 2.8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: #323232d6;
}

.logoSpace a{
    width: 10%;
    height: 2.6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: #323232d6;
}

.logoSpace a img{
    width: 100%;
    background: transparent;
}

.logoSpace a img:hover{
    filter: drop-shadow(#E31B6e64 1px 2px 1px)
            drop-shadow(#E31B6e64 1px 2px 1px);
}

@media (max-width: 760px) {
    .logoSpace{
        width: 50%;
    }
}

@media (max-width: 360px) {
    .logoSpace{
        width: 70%;
    }
}

#AboutMe h1, #AboutMe h2, #AboutMe p{
    text-align: center;
}

#AboutMe h1{
    padding-top: .75em;
}

#AboutMe h2{
    font-weight: lighter;
    margin: 0 0 4% 0;
}

#AboutMe p{
    margin-top: 3%;
}

#Projects h2, #Experiences h2,#Skills h2{
    border-bottom: 1px solid #F4F4F6;
}

.projectsBox{
    margin: 3.25em auto;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 

}

@media (max-width: 760px) {
    .projectsBox {
        grid-template-columns: 1fr;
        grid-template-rows: none; 
        width: 80%;
    }
}

#Conclave{
    background-image: url(ProjecteConclave.webp);
}

#WaterDist{
    background-image: url(XarxaDaiguaProjecte.png.gif);
}

#BackTracking{
    background-image: url(BynariTreeProject.png);
}

#Portfolio{
    background-image: url(CurriculumProject.png);
}

.project{
    width: 90%;
    height: 15em;
    margin: 0 5% 10% 5%;
    background-color: #323232d6;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.project p, .project div{
    visibility: hidden;
}

.project:hover p{
    visibility: visible;
}

.project:hover div{
    visibility: visible;
}

.project:hover{
    background-size: 0% 0%;
}

@media (max-width: 760px) {
    .project{
        height: 16.5em;
    }

    .project:last-child{
        background-size: cover;
    }

    .project:last-child:hover{
        background-size: 0% 0%;
    }
}

@media (max-width: 420px) {
    .project{
        height: 19em;
    }
}

.project p{
    width: 80%;
    margin: auto;
    background-color: #22222200; /*Perque sigui transparent el fons*/
    text-align:center ;
    color: #F4F4F6;
    font-weight: lighter;
    font-size:small;

}

.project p:first-child{
    padding: 10% 0 10% 0;
    font-size: large;
    font-weight: bold;
}

.project p:last-child{
    padding-top: 4%;
    font-weight: lighter;
}

.linkVeure{
    width: 80%;
    height: 2.5em;
    margin: 5% auto;
    background-color: #E31B6D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkVeure a{
    color: #ffffff;
    background-color: #E31B6D;
}

.logoLanguages{
    width: 45%;
    height: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: #323232d6;
}

.logoLanguages img{
    height: 18px;
    background-color: #323232d6;
}

#Experiencies{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.experience{
    width: 75%;
    margin: 6% auto;
    border: none;
    border-left: 1px solid #F4F4F6;
    background-color: #F4F4F6;
}

.experience h3{
    padding: 5% 0 0 7%;
    color: #E31B6D;
}

.experience p{
    padding: 3% 0 3% 10%;
}

.languagesSkills ul{
    margin-top: 7.5%;
    list-style: none;
}

.languagesSkills ul li{
    margin: 5% 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.languagesSkills ul li p{
    width: 10%;
    margin: 0 5%;
}

.languagesSkills ul li hr{
    width: 60%;
    height: 0.2em;
    border: none;
}

@media (max-width: 360px) {
    .languagesSkills ul li hr{
        width: 50%;
        
    }

    .languagesSkills ul li p{
        width: 10%;
        margin: 0 2.5%;
    }
}

.skills100{
    background: linear-gradient(to right, #E31B6D 100%, #323232d6 0%);
}

.skills90{
    background: linear-gradient(to right, #E31B6D 90%, #323232d6 50%);
}

.skills70{
    background: linear-gradient(to right, #E31B6D 70%, #323232d6 50%);
}

.skills60{
    background: linear-gradient(to right, #E31B6D 60%, #323232d6 50%);
}

footer{
    width: 80%;
    height: 10em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}